
body {
  margin: 51px;

}
* {
    box-sizing: border-box;


}
  .wrapper {
    position: relative;
     height: 70rem;
        background-color: #444;
        color: #fff;
        border: 5px solid gray;


    }


    .header
     {
       position: absolute;
        text-align: center;
        padding-top: 3rem;
        font-size: 30px;
          margin-top: 0;
        width: 118.2rem;
        height: 11rem;
        background-color:rgb(9,41,38);

      }
      #logo {
        width: 10rem;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        bottom: 1rem;
      }
   h2
    {
  position: absolute;
      font-size: 20px;
  right: 60rem;
      padding-top: 5rem;
    }




ul {
	list-style-type:none;
	margin:10;
	padding:0;

  right: 100rem;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;


  border-right: 2px solid #576979;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

/*Hover state for top level links*/
li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 50px;
  width: 8rem;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}





.box {
  width: 110rem;
  height: 40rem;
  background-color: #444;
  color: #fff;


  padding: 10px;
  font-size: 150%;

  margin-top: 10rem;


}


main {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;

}

.container-aside {
  display: flex;
width: 31rem;
height: 31rem;
position: relative;
margin-left:70rem;
/*margin-right: 3rem;*/
margin-top:15rem;
float: left;
}
.slideshow img {
  width: 38rem;
  height: 20rem;
  position: absolute;
  border-radius: 2rem;
  box-shadow: 0 0 0.1rem;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-duration: 40s;
}

@keyframes slide {
  0% {
     opacity:1;
   }
   17% {
     opacity:1;
   }
   25% {
     opacity:0;
   }
   92% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }


.slideshow img:nth-of-type(1) {
    animation-delay: 34s;
  }

.slideshow img:nth-of-type(2) {
    animation-delay: 30s;
}

.slideshow img:nth-of-type(3) {
  animation-delay: 28s;
}

.slideshow img:nth-of-type(4) {
  animation-delay: 24s;
}

.slideshow img:nth-of-type(5) {
  animation-delay: 20s;
}

.slideshow img:nth-of-type(6) {
  animation-delay: 16s;
}

.slideshow img:nth-of-type(7) {
  animation-delay: 12s;
}

.slideshow img:nth-of-type(8) {
  animation-delay: 8s;
}

.slideshow img:nth-of-type(9) {
  animation-delay: 4s;
}

.slideshow img:nth-of-type(10) {
  animation-delay: 0s;
}




.footer {


  text-align: center;
/*  padding-top: 3rem;*/
  font-size: 18px;
  margin-top:9.5rem;

  width: 118.2rem;
  height: 10rem;
  background-color:rgb(9,41,38);

}

.rss {
  display: inline-flex;
  font-size: 2rem;
  float: right;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color:#fff;
}

.world {
  display: inline-flex;
  font-size: 2rem;
  float: right;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color:#fff;
}
